.each_item {
  height: auto;
}

.each_item ul {
  width: 100%;
  display: flex;
  list-style: none;
  padding-left: 0;
}

.recipe_item {
  border: 1px solid #ccc;
  width: 350px;
  height: auto;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  border-radius: 10px;
  box-shadow: 4px 2px 23px 2px #777777;
  transition: transform .7s ease-in-out;
}

.recipe_item:hover {
  transform: scale(1.07);
}

.recipe_item .img_container {
  height: 60%;
}

.img_container img {
  display: block;
  width: 100%;
  height: 100%;
  border-radius: 8px;
}

.title_container {
  display: flex;
  justify-content: space-between;
}

.title_container h2 {
  padding: 5px;
  margin-bottom: 0;
}

.clock_container {
 display: flex; 
}
 .title_container img {
  width: 30px;
  height: 30px;
 }

.cuisine p {
  padding: 0 15px;
  margin: 0;
}

.calories_container {
  display: flex;
  align-items: center;
  padding: 8px;
}

.calories_container img {
  width: 40px;
  height: 40px;
}
.calories_container p {
 padding-left: 0;
}

/* Btn */
.link_btn {
  margin-top: 10px;
}
.link_btn li {
  width: 100%;
  text-align: center;
  padding: 8px 0;
}
.link_btn li .btn,
.link_btn li .detail_link{
  text-decoration: none;
  font-family: 'Lalezar', cursive;
  font-size: 1.4rem;
}

.ingredients_btn {
  background-color: rgb(245, 77, 77);
  border-radius: 0 0 10px 10px;
  cursor: pointer;
}

.ingredients_btn .btn{
  color: #fff;
}
.detail_btn {
  border: 1px solid #ccc;
}

.detail_link {
  color: rgb(245, 77, 77);
}




