.recipe_list {
  width: 100%;
  display: flex;
}

.recipe_list ul {
  /* border: 1px solid red; */
  width: 100%;
  display: flex;
  justify-content: space-evenly;
  flex-wrap: wrap;
  list-style: none;
  padding-left: 0;
  margin: 20px;
  gap: 30px;
}

.recipe_item {
  border: 1px solid #ccc;
  width: 350px;
  height: auto;
  display: flex;
  flex-direction: column;
  border-radius: 10px;
  box-shadow: 4px 2px 23px 2px #777777;
  transition: transform .7s ease-in-out;
}

.recipe_item:hover {
  transform: scale(1.07);
}

.recipe_item li img {
  width: 100%;
  border-radius: 8px;
}

.recipe_item p {
  padding: 0 10px;
  margin: 0;
}

.link_btn {
  display: flex;
  justify-content: center;
}
.link_btn li {
  width: 50%;
  text-align: center;
  padding: 12px 0;
  margin-top: 30px;
}

.link_btn li .link{
  text-decoration: none;
}




