* {
  margin: 0;
  padding: 0;
}

.wrapper {
  width: 100%;
  height: 100vh;
}

.left,
.right {
  position: absolute;
  height: 100%;
  width: 50%;
}

.left {
  background-color: rgb(233, 93, 80);
  animation: slide_left 0.5s ease-in-out;
}

.right {
  position: absolute;
  z-index: -100;
  width: 100%;
  background-color: #e9dfc9;
  animation: slide_right 0.5s ease-in-out;
}

@keyframes slide_left {
  0% {
    left: -50%;
  }
  100% {
    left: 0;
  }
}
@keyframes slide_right {
  0% {
    left: 0%;
  }
  100% {
    left: 50%;
  }
}

.left_stripe,
.right_stripe {
  position: absolute;
  width: 2px;
  height: 100vh;
  background: #fff;
  opacity: 0.5;
}

.right_stripe {
  background: rgb(233, 93, 80);
}

.left_stripe {
  left: 120px;
  animation: stripe_left 2.5s ease-in-out;
}
.right_stripe {
  right: 120px;
  animation: stripe_right 2.5s ease-in-out;
}

@keyframes stripe_left {
  0% {
    transform: translateY(-100%);
  }
  100% {
    transform: translateY(0);
  }
}
@keyframes stripe_right {
  0% {
    transform: translateY(100%);
  }
  100% {
    transform: translateY(0);
  }
}

.lemmon img {
  width: 600px;
  max-width: 100%;
  position: absolute;
  top: 45%;
  left: 50%;
  transform: translate(-50%, -50%);
  animation: slide_lemmon 0.7s ease-in-out forwards, fly 3s ease-in-out 0.7s infinite;
}

@keyframes slide_lemmon {
  0% {
    top: -50%;
  }
  100% {
    top: 45%;
  }
}

@keyframes fly {
  0% {
    transform: translate(-50%, -46%);
  }
  50% {
    transform: translate(-50%, -54%);
  }
  100% {
    transform: translate(-50%, -46%);
  }
}

.product_text {
  width: 100%;
  position: absolute;
  bottom: 25%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
  animation: slide_title 0.9s ease-in-out;
  /* border: 1px solid red; */
}

@keyframes slide_title{
  0% {
    bottom: -100%;
  }
  100% {
    bottom: 25%;
  }
}

.product_title {
  font-size: 100px;
  color: rgb(243, 241, 241);
  color: rgb(243, 241, 241);
}


.product_title::after {
  content: ".";
  color: rgb(233, 93, 80);
}

.product_subtitle {
  color: #fff;
  font-size: 25px;
  font-weight: 500;
}

.start_btn {
  position: absolute;
  bottom: 13%;
  left: 50%;
  transform: translate(-50%, -50%);
  border: 1px solid #ccc;
  width: 150px;
  text-align: center;
  padding: 12px 10px;
  border-radius: 10px;
  box-shadow: 5px 5px 15px rgb(87, 81, 81);
  animation: slide_btn 1.2s ease-in-out forwards;
}

.start_btn:hover {
  opacity: 0.7;
}

.start_btn .btn {
  text-decoration: none;
  font-size: 25px;
  font-family: 'Lalezar', cursive;
}

@keyframes slide_btn{
  0% {
    bottom: -100%;
  }
  100% {
    bottom: 13%;
  }
}